Thai Prime Minister Srettha Thavisin delivers a speech in Bangkok, Thailand, Jan. 2, 2024. Thailand will permanently waive visa requirements for Chinese citizens starting March 1, announced Thai Prime Minister Srettha Thavisin on Tuesday. (Thai Government House/Handout via Xinhua)
BANGKOK, Jan. 2 (Xinhua) -- Thailand will permanently waive visa requirements for Chinese citizens starting March 1, announced Thai Prime Minister Srettha Thavisin on Tuesday.
During a press conference after a cabinet meeting at the government house, Srettha said Thailand had previously granted a temporary visa waiver status for visitors from China, which was set to end on Feb. 29, 2024. After negotiations with related Chinese authorities, the Thai government has now opted to adopt a permanent visa-free policy for Chinese citizens from March.
He said that this measure will not only boost Thailand's tourism industry but also signify further improvement in the friendly relations between the two countries.
Tourism plays a crucial role in Thailand's economy, with 28 million foreign tourist arrivals recorded in 2023, including about 4.4 million visitors from Malaysia, and 3.4 million from China -- the two largest source markets. ■
Thai Prime Minister Srettha Thavisin delivers a speech in Bangkok, Thailand, Jan. 2, 2024. Thailand will permanently waive visa requirements for Chinese citizens starting March 1, announced Thai Prime Minister Srettha Thavisin on Tuesday. (Thai Government House/Handout via Xinhua)